<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Variáveis Javascript</title>
		</head>
	<body>

<h2>Nesta atividade x, y e z são variáveis.</h2>

<p id="demo"></p>

<script>
var x = 5;
var y = 6;
var z = x + y;
var aux = x;
x = y;
y = aux;
var z2 = x - y; 
document.getElementById("demo").innerHTML =
"O valor de Z é: " + z + " e Z2 é: " + z2;
</script>


	</body>
</html>