<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Variável Let</title>
		</head>
	<body>
		<h2>Declarando variavel com o "let"</h2>

		<p id="demo"></p>
		<p id="demo1"></p>
		<script>
		var  x = 10;
		// aqui x é 10
		{
		  let x = 2;
		  // aqui x é 2
		  document.getElementById("demo1").innerHTML = "Aqui o X é: " + x + 
		  " (esta variável só existe nesse bloco)";

		}
		// aqui x é 10
		document.getElementById("demo").innerHTML = "Aqui o X é: " + x + 
		" (perceba o valor de X fora do bloco)";
		</script>
		
	</body>
</html>