<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Teste</title>
		</head>
	<body background="https://i.pinimg.com/originals/2d/08/e1/2d08e17ec3d80a66c4ac55795dd202ff.png">

		<h1><font color="white">Bem vindo a página inicial</font></h1>
		<p><font color="white">Rodando meu primeiro programa teste</font></p>
		

	</body>
</html>